<main class="homepage">
  <div class="main_component">
    <div class="auction_body">
      <div class="head" id="head">
        <h1>{{ "general.auctions" | translate }}</h1>
      </div>
      @if (displayData$ | async; as data) { @if (data.sections.length > 0) {
      <div class="flexContent jc-sb flex-end borderFormTabs">
        <dx-tabs
          [dataSource]="data.sections"
          [selectedIndex]="data.filterTab"
          itemTemplate="itemTemplate"
          (onItemClick)="onChangeTab($event)"
        >
          <div *dxTemplate="let item of 'itemTemplate'">
            <div>{{ item.name }}</div>
          </div>
        </dx-tabs>
      </div>
      }

      <div class="mt-3">
        @if (data.sessionsForDisplay?.length > 0) {
        <div class="title flexContent8 mt-2 p-3 font-s12">
          <span class="w-130px">{{ "general.auctionsTime" | translate }}</span>
          <span class="w-100">{{ "general.tradingSession" | translate }}</span>
        </div>
        } @for (item of data.sessionsForDisplay; track item.sessionId) {

        <div class="items font-s12 flexContent8 p-3 center">
          <span class="w-130px date-roboto-mono">{{
            item.formattedTime || item.sessionDatetime
          }}</span>
          <div class="flexContent8 w-100 jc-sb">
            <div class="session_info flexContentColumn8 w-80">
              <div class="flexContent8 center">
                <span class="mainTextColor title"
                  >{{ "general.session" | translate }} №
                  {{ item.sessionId }}</span
                >
                <div
                  class="status d-flex ai-c font-s12"
                  [ngClass]="{
                    blue: item?.sessionStageId == 9,
                    green: item?.sessionStageId == 7,
                    red: item?.sessionStageId == 8
                  }"
                >
                  <span>{{ item.sessionStageName }}</span>
                </div>
              </div>
              <span class="secondTextColor">{{ item.sessionName }}</span>
            </div>
            <div class="w-140px d-flex jc-end">
              @if (userToken$ | async; as userToken) { @if (userRole() !==
              USER_ROLES.NotAccredited) {
              <button
                class="btn btn-outline-primary"
                (click)="
                  sessionLogin(userToken, item.sectionId, item.sessionId)
                "
              >
                {{ "btns.goToAuction" | translate }}
              </button>
              } }
            </div>
          </div>
        </div>
        } @if (data.sessionsForDisplay?.length === 0) {
        <div class="text-center mt-4">
          {{ "errors.emptyData" | translate }}
        </div>
        }
      </div>
      }
    </div>
  </div>
</main>
