::ng-deep .dx-header-row .myCellFix {
  background-color: #f5f5f5 !important;
}

.status {
  display: flex;
  height: 20px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  &.success {
    border-radius: 2px;
    background: #effaef;
    color: #2E7D32;
  }

  &.rejected {
    border-radius: 2px;
    background: #fff4f6;
    color: #C62828;
  }
}
