@import "../../../../../assets/scss/constants";


.label {
  width: 220px;
  color: $secondTextColor;
}

.info {
  line-height: 16px;
  width: calc(100% - 220px);
}

hr {
  width: 100%;
  color: $lightGrayBackgroundColorButton;
}
