@import "../../../../assets/scss/constants";

.viewGoodInfo {
  padding: 16px;
  background: $layerHoverTable;
  color: $mainTextColor;

  .name {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;

    label {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  .description {
    font-size: 14px;
    line-height: 20px;

    .propName {
      font-size: 14px;
      color: $headerTopColor;
    }
  }
}

.fieldName {
  min-width: 210px;
  color: $secondTextColor;
}

.info {
  line-height: 16px;
  width: calc(100% - 210px)
}
