@if (filteredCounters()) {

    @if (idAuctionType === AUCTION_TYPE.DUTCH_DOWN_AUCTION && !isAnalogListForm) {
      <div class="rejected-counter-goods" id="rejectedCounters">
        <dx-check-box
          text="{{ 'counterOffers.hideRejected' | translate }}"
          iconSize="20px"
          (onValueChanged)="hideRejectedCountersGoods($event)"
        >
        </dx-check-box>
      </div>

      <dx-tooltip
        target="#rejectedCounters"
        [showEvent]="{ name: 'mouseover', delay: 500 }"
        hideEvent="mouseleave"
      >
        <div *dxTemplate="let data = data; of: 'content'">
          {{ "counterOffers.hintForRejected" | translate }}
        </div>
      </dx-tooltip>
    }
  
    @if (showMyCounterOffers) {
      <div class="my-counter-offers">
        <dx-check-box
          text="{{ 'counterOffers.myCounterOffers' | translate }}"
          iconSize="20px"
          (onValueChanged)="changeMyCounterOffer($event)"
        >
        </dx-check-box>
      </div>
    }
 

  <dx-data-grid
    #dataGridRegister
    [dataSource]="filteredCounters()"
    [keyExpr]="rowKeyField"
    [showBorders]="false"
    [showColumnLines]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [showRowLines]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onCellPrepared)="onCellPrepared($event)"
    appLocalizeContextMenu
  >
    <dxo-header-filter [visible]="true" [allowSearch]="true"/>
    <dxo-selection mode="single"/>

    <dxi-column
      caption="№ п/п"
      dataField="counterNumber"
      cssClass="column text-align-left"
      width="70"
      [allowSorting]="true"
      [allowFiltering]="false"
      cellTemplate="cellTemplateCounterNumber"
    ></dxi-column>
    <div *dxTemplate="let data of 'cellTemplateCounterNumber'">
      <span [class.text-mine]="data.data.isMine" [class.text-rejected]="data.data.goods[0]?.isExistDeclinedGoodInAnlg">
        {{ data.data.counterNumber }} / {{ data.data.firmCounterUnique }}
      </span>
    </div>

    @if (idAuctionType === AUCTION_TYPE.DUTCH_DOWN_AUCTION && isAllowAnalog) {
      <dxi-column
        caption="{{ 'trading.offersTable.nameProduct' | translate }}"
        dataField="goodName"
        cssClass="column date-roboto-mono text-align-left"
        width="160"
        alignment="left"
        [allowFiltering]="true"
        cellTemplate="cellTemplateName"
      ></dxi-column>
    }
 
    <div *dxTemplate="let data of 'cellTemplateName'">
        <span [class.text-mine]="data.data.isMine" [class.text-rejected]="data.data.goods[0]?.isExistDeclinedGoodInAnlg">
          {{ data.data.goodName }}
        </span>
    </div>

    <dxi-column
      caption="{{ 'trading.offersTable.totalVolume' | translate }}"
      dataField="totalVolume"
      cssClass="column date-roboto-mono text-align-right"
      width="160"
      alignment="right"
      [allowFiltering]="true"
      cellTemplate="cellTemplateTotalVolume"
    ></dxi-column>
    <div *dxTemplate="let data of 'cellTemplateTotalVolume'">
      <span [class.text-mine]="data.data.isMine" [class.text-rejected]="data.data.goods[0]?.isExistDeclinedGoodInAnlg">
        {{ data.data.totalVolume }}
      </span>
    </div>

    <dxi-column
      caption="{{ 'trading.auctionsTab.unit' | translate }}"
      dataField="goodUnitName"
      cssClass="column text-align-right"
      width="130"
      alignment="right"
      [allowFiltering]="true"
      cellTemplate="cellTemplateGoodUnitName"
    ></dxi-column>
    <div *dxTemplate="let data of 'cellTemplateGoodUnitName'">
      <span [class.text-mine]="data.data.isMine" [class.text-rejected]="data.data.goods[0]?.isExistDeclinedGoodInAnlg">
        {{ data.data.goodUnitName }}
      </span>
    </div>

    <dxi-column
      dataField="totalAmount"
      caption="{{ 'trading.offersTable.costVATShort' | translate }}"
      cssClass="column date-roboto-mono text-align-right"
      width="160"
      alignment="right"
      [allowFiltering]="true"
      cellTemplate="cellTemplateTotalCostVAT"
    ></dxi-column>
    <div *dxTemplate="let data of 'cellTemplateTotalCostVAT'">
      <span [class.text-mine]="data.data.isMine" [class.text-rejected]="data.data.goods[0]?.isExistDeclinedGoodInAnlg">
        {{ getNumberInGrid(data) }}
      </span>
    </div>

    <dxi-column
      caption="{{ 'filters.currency' | translate }}"
      dataField="currencyName"
      cssClass="column text-align-right"
      [minWidth]="110"
      [allowSorting]="true"
      [allowFiltering]="false"
      cellTemplate="cellTemplateCurrencyName"
    ></dxi-column>
    <div *dxTemplate="let data of 'cellTemplateCurrencyName'">
      <span [class.text-mine]="data.data.isMine" [class.text-rejected]="data.data.goods[0]?.isExistDeclinedGoodInAnlg">
        {{ data.data.currencyName }}
      </span>
    </div>

    <dxi-column
      caption="{{ 'counterOffers.counterTime' | translate }}"
      dataField="dateCreate"
      cssClass="column text-align-right"
      [minWidth]="120"
      [allowSorting]="true"
      [allowFiltering]="false"
      cellTemplate="cellTemplateTime"
    ></dxi-column>
    <div *dxTemplate="let data of 'cellTemplateTime'">
      <div
        class="flexContentColumn4 date-roboto-mono text-align-right"
        [class.text-mine]="data.data.isMine"
        [class.text-rejected]="data.data.goods[0]?.isExistDeclinedGoodInAnlg"
      >
        {{
          data.data.dateCreate
            | subtract : 25569
            | daysToMilliseconds
            | date : "HH:mm:ss" : "+0000"
        }}
      </div>
    </div>
  </dx-data-grid>
}
